In [109]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import svm

In [85]:
df = pd.read_csv("train_u6lujuX_CVtuZ9i (1).csv")

In [86]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [88]:
df.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [89]:
df.dropna(inplace=True)

In [90]:
df.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [91]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [92]:
df.replace({"Loan_Status" : {"N":0, "Y" : 1}}, inplace =  True)

In [93]:
df.Loan_Status

1      0
2      1
3      1
4      1
5      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 480, dtype: int64

In [102]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,1,1
3,LP001006,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,1,1
4,LP001008,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,1,1
5,LP001011,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,1,1

In [114]:
df.replace({'Married':{'No':0,'Yes':1},'Gender':{'Male':1,'Female':0},'Self_Employed':{'No':0,'Yes':1},
                      'Property_Area':{'Rural':0,'Semiurban':1,'Urban':2},'Education':{'Graduate':1,'Not Graduate':0}},inplace=True)
df = df.replace(to_replace='3+', value=4)

In [125]:
df.drop("Loan_ID", axis = 1, inplace = True)

In [126]:
x = df.drop("Loan_Status", axis = 1)
y = df.Loan_Status

In [127]:
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size=0.2)

In [128]:
print(x.shape, x_train.shape, x_test.shape)

(480, 11) (384, 11) (96, 11)

In [131]:
model = svm.SVC(kernel="linear")

In [132]:
model.fit(x_train, y_train)

SVC(kernel='linear')

In [136]:
accuracytrain = model.score(x_train, y_train)
print(f"the accuracey of train data is {accuracytrain}")

the accuracey of train data is 0.7890625

In [137]:
accuraceytest = model.score(x_test,y_test)
print(f"the accuracy of test data is {accuraceytest}")

the accuracy of test data is 0.7708333333333334